In [3]:
import pandas as pd
import numpy as np
db=pd.read_csv("/content/heart_cleveland_upload.csv")
db.head(5)
#thalach stands for maximum heart rate

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [4]:
print("The shape of the dataset is:",db.shape)

The shape of the dataset is: (297, 14)

In [5]:
db.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,54.542088,0.676768,2.158249,131.693603,247.350168,0.144781,0.996633,149.599327,0.326599,1.055556,0.602694,0.676768,0.835017,0.461279
std,9.049736,0.468500,0.964859,17.762806,51.997583,0.352474,0.994914,22.941562,0.469761,1.166123,0.618187,0.938965,0.956690,0.499340
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,2.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,56.000000,1.000000,2.000000,130.000000,243.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,0.000000,0.000000
75%,61.000000,1.000000,3.000000,140.000000,276.000000,0.000000,2.000000,166.000000,1.000000,1.600000,1.000000,1.000000,2.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,3.000000,2.000000,1.000000

In [6]:
label=np.array(db['condition'])#getting the target values
params=db.drop('condition', axis=1)#creating a new dataframe after dropping the column axis
params_list=list(params.columns)#extracting the list of features
params=np.array(params)

In [7]:
from sklearn.model_selection import train_test_split
train_params,test_params, train_labels, test_labels=train_test_split(params, label, test_size=0.25, random_state=12)
print("The shape of the training dataset is :",train_params.shape)
print("The shape of the testing dataset is :", test_params.shape)

The shape of the training dataset is : (222, 13)
The shape of the testing dataset is : (75, 13)

In [8]:
from sklearn.ensemble import RandomForestClassifier
#creating a random forest classifier object 
clf=RandomForestClassifier(n_estimators=100)
#fitting refers to training the model using training data
clf.fit(train_params, train_labels)
#predicting the output of the model for the test data
pred_labels=clf.predict(test_params)

In [9]:
from sklearn import metrics
print("The accuracy of the model is:", metrics.accuracy_score(pred_labels,test_labels)
)

The accuracy of the model is: 0.76

In [10]:
print("The confusion matrix for the model is:",metrics.confusion_matrix(pred_labels,test_labels))

The confusion matrix for the model is: [[32 11]
 [ 7 25]]

In [12]:
#Increasing the number of tree ensembles might help in accuracy
clf2=RandomForestClassifier(n_estimators=128)
#fitting refers to training the model using training data
clf2.fit(train_params, train_labels)
#predicting the output of the model for the test data
pred_labels=clf2.predict(test_params)
print("The accuracy of the new model is:",metrics.accuracy_score(pred_labels,test_labels)
)

The accuracy of the new model is: 0.7733333333333333